{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

  {% block content %}
    <div class="container mt-3">
      <div class="d-grid justify-content-md-end">
        <a class="btn btn-dark border-white" href="{{ url_for('home') }}">Switch Mode</a>
      </div>
    </div>
    <div class="container w-50">
      <div class="text-success">
        {% if mode == "encrypt": %}
        <h1>Encrypt Plain Text To Morse Code</h1>
        <h2>Enter Text:</h2>
        {% else: %}
        <h1>Decrypt Morse Code To Plain Text</h1>
        <h2>Enter Code:</h2>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages: %}
            <p class="text-danger fs-5 fst-italic">{{ messages[0] }}</p>
          {% endif %}
        {% endwith %}

          {{ render_form(form, button_style="btn btn-dark border-white", novalidate=True) }}

      </div>
      {% if sent: %}
      <div class="mt-3">
        <h2>Result</h2>
        <span class="text-success fs-4">{{ result }}</span>
      </div>
      {% endif %}
    </div>
  {% endblock %}
